{% extends 'base.html' %}
<!-- {% load static %} -->

{% block title %}
All Posts Page
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/all-posts.css' %}">
{% endblock %}

{% block content %}
<section id="all-posts">
    <h1>My Posts</h1>
    <ul>
        {% include 'blog/includes/post.html' %}
        {% include 'blog/includes/post.html' %}
        {% include 'blog/includes/post.html' %}
        {% include 'blog/includes/post.html' %}
        {% include 'blog/includes/post.html' %}
    </ul>
</section>
{% endblock %}